<div class="card mb-4">
    <!-- {{prod | json}} -->
    <div class="card-header">
        <h2>{{prodobj.pname}}</h2>
    </div>
    <div class="card-body">
        <p>
            You have ordered {{prodobj.pname}}
            and its status is {{prodobj.pstatus}}
        </p>
    </div>
    <div class="card-footer">
        <button mat-raised-button color="primary" (click)="onStatusChange( allProductStatus.Inprogress)">In
            Progress</button>
        <button class=" mx-2" mat-raised-button color="primary"
            (click)="onStatusChange( allProductStatus.Dispached)">Dispatched</button>
        <button mat-raised-button color="primary"
            (click)="onStatusChange( allProductStatus.Delivered)">Delivered</button>
    </div>
</div>